In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df  = pd.read_csv(r"C:\Users\mohit\OneDrive\Desktop\Omdena-AI\omdena-texas-homelessness\src\data\2007-2016-homeless-texas.csv")

In [3]:
df.head()

,Year,State,CoC Number,CoC Name,Measures,Count
0,1/1/2007,TX,TX-500,San Antonio/Bexar County CoC,Chronically Homeless Individuals,218
1,1/1/2007,TX,TX-500,San Antonio/Bexar County CoC,Homeless Individuals,"1,375"
2,1/1/2007,TX,TX-500,San Antonio/Bexar County CoC,Homeless People in Families,872
3,1/1/2007,TX,TX-500,San Antonio/Bexar County CoC,Sheltered Chronically Homeless Individuals,96
4,1/1/2007,TX,TX-500,San Antonio/Bexar County CoC,Sheltered Homeless,"1,798"

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2244 entries, 0 to 2243
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        2244 non-null   object
 1   State       2244 non-null   object
 2   CoC Number  2244 non-null   object
 3   CoC Name    2244 non-null   object
 4   Measures    2244 non-null   object
 5   Count       2244 non-null   object
dtypes: object(6)
memory usage: 105.3+ KB

In [5]:
df.shape

(2244, 6)

In [6]:
# With this command we can easily check that how many null valued data do we have

df.isnull().sum()

Year          0
State         0
CoC Number    0
CoC Name      0
Measures      0
Count         0
dtype: int64

In [7]:
df.nunique()

Year            9
State           1
CoC Number     11
CoC Name       11
Measures       42
Count         844
dtype: int64

In [8]:
df['State'].value_counts()

TX    2244
Name: State, dtype: int64

In [9]:
df.describe()

,Year,State,CoC Number,CoC Name,Measures,Count
count,2244,2244,2244,2244,2244,2244
unique,9,1,11,11,42,844
top,1/1/2015,TX,TX-500,San Antonio/Bexar County CoC,Chronically Homeless Individuals,0
freq,462,2244,204,204,99,299

In [10]:
# As we can see that in the column 'Count' we have more than 1/3rd of the unique values so it's much better to just remove that column

df.drop(['Count'] ,axis=1 ,inplace=True)

In [11]:
df.head()

,Year,State,CoC Number,CoC Name,Measures
0,1/1/2007,TX,TX-500,San Antonio/Bexar County CoC,Chronically Homeless Individuals
1,1/1/2007,TX,TX-500,San Antonio/Bexar County CoC,Homeless Individuals
2,1/1/2007,TX,TX-500,San Antonio/Bexar County CoC,Homeless People in Families
3,1/1/2007,TX,TX-500,San Antonio/Bexar County CoC,Sheltered Chronically Homeless Individuals
4,1/1/2007,TX,TX-500,San Antonio/Bexar County CoC,Sheltered Homeless

In [12]:
df.nunique()

Year           9
State          1
CoC Number    11
CoC Name      11
Measures      42
dtype: int64

In [15]:
# We can do one hot coding also in all these object datatype to convert them into numeric one

categorical_cols =['State','Year','CoC Number','CoC Name','Measures']

from sklearn.preprocessing import LabelEncoder

# instantiate labelencoder object
le = LabelEncoder()

# apply le on categorical feature columns
df[categorical_cols] = df[categorical_cols].apply(lambda col: le.fit_transform(col))
    
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()

#One-hot-encode the categorical columns.
#Unfortunately outputs an array instead of dataframe.
array_hot_encoded = ohe.fit_transform(df[categorical_cols])

#Convert it to df
data_hot_encoded = pd.DataFrame(array_hot_encoded, index=df.index)

#Extract only the columns that didnt need to be encoded
data_other_cols = df.drop(columns=categorical_cols)

#Concatenate the two dataframes : 
data_out = pd.concat([data_hot_encoded, data_other_cols], axis=1)

In [16]:
df.head()

   Year  State  CoC Number  CoC Name  Measures
0     0      0           0         7         2
1     0      0           0         7         4
2     0      0           0         7         5
3     0      0           0         7        15
4     0      0           0         7        17

In [17]:
df.to_csv(r'C:\Users\mohit\OneDrive\Desktop\Omdena-AI\omdena-texas-homelessness\src\cleaned data\2007-2016-homelessness-texas.csv')