In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r'C:\Users\mohit\OneDrive\Desktop\Omdena-AI\omdena-texas-homelessness\src\data\housing\Strategic_Measure_Number_of_returns_to_homelessness.csv')

In [3]:
df.head()

,Demographic Category,Specific Demographic,Fiscal Year,SO/ES/TH/SH/PH,Numerator,Denominator,Rate,Fiscal Year Start Date,Fiscal Year End Date
0,Race,American Indian or Alaskan Native,2017,SO,0,0,0.0,10/01/2016 12:00:00 AM,09/30/2017 12:00:00 AM
1,Race,Asian,2017,SO,0,0,0.0,10/01/2016 12:00:00 AM,09/30/2017 12:00:00 AM
2,Race,Black or African American,2017,SO,0,0,0.0,10/01/2016 12:00:00 AM,09/30/2017 12:00:00 AM
3,Race,Native Hawaiian or Other Pacific Islander,2017,SO,0,0,0.0,10/01/2016 12:00:00 AM,09/30/2017 12:00:00 AM
4,Race,White,2017,SO,0,0,0.0,10/01/2016 12:00:00 AM,09/30/2017 12:00:00 AM

In [4]:
df.isnull().sum()

Demographic Category      0
Specific Demographic      0
Fiscal Year               0
SO/ES/TH/SH/PH            0
Numerator                 0
Denominator               0
Rate                      0
Fiscal Year Start Date    0
Fiscal Year End Date      0
dtype: int64

In [5]:
df.nunique()

Demographic Category        9
Specific Demographic       32
Fiscal Year                 4
SO/ES/TH/SH/PH              5
Numerator                  77
Denominator               158
Rate                       45
Fiscal Year Start Date      4
Fiscal Year End Date        4
dtype: int64

In [7]:
df.shape

(490, 9)

In [8]:
df['Denominator'].unique()

array([  0,   3,  11, 202,   1, 237, 166, 288, 268, 184,   2,  34, 419,
       260,  22,  14, 158, 133, 309,  12,  59,  64,  58,  66,  72,  53,
         8, 117,  27,  20, 104,  18,  30,   6,  31,  28,   5,   4, 396,
        10, 329,  15, 198, 551, 339, 415, 103, 651, 402,  52, 270, 321,
       432, 261, 170, 383, 248, 304, 483, 330,  35, 157, 172, 379,  80,
        99,  68, 112, 105,  73,  51, 129,  69,  75,  43, 136,  23,  26,
         9, 387, 368, 215, 557, 337, 436, 199, 574, 444,  39, 267, 376,
       395,   7, 322, 227, 165, 285, 272,  49, 511, 310,  36, 201, 159,
        56,  57,  33,  46,  47,  67,  37,  32,  82, 358, 422, 203, 594,
       307, 484, 205, 588, 475, 222, 439, 354, 420,  42, 398, 256, 297,
        21,  71, 305, 568, 163, 472,  25,  13,  48,  92, 385, 257, 377,
        74, 801, 461, 176,  97,  44, 521, 238, 344, 174,  76,  24,  50,
       564,  78], dtype=int64)

In [14]:
def wrangle_without_dt(filepath):
    """
    Wrangle function takes an input of a filepath which does not contains a date-time,
    outputs a cleaned dataframe
    """
    # Reads in DF from filepath using Pandas
    df = pd.read_csv(filepath)
    
    # Seperates the categorical columns
    categorical_cols = df.select_dtypes('object').columns
    
    #Creates threshold for how many times you will allow the same value to show up in multiple columns in a row.
    threshold = 50
    
    #Identify high cardinality columns
    high_card_cols = [col for col in categorical_cols 
                      if df[col].nunique() > threshold]
    
    # Drop high cardinality columns
    df = df.drop(high_card_cols, axis=1)
    
    # Drop columns with a high number of NaN values
    if len(df) > 100:
        df = df.dropna(axis = 1, thresh = 100)
    # Fill NA values with front fill. Replaces with value ahead of it.
    # Replaces values at start of data with last 
    df = df.fillna(method='ffill')
    df = df.fillna(method='bfill')
    
    
    
    return df

In [15]:
df = wrangle_without_dt(r'C:\Users\mohit\OneDrive\Desktop\Omdena-AI\omdena-texas-homelessness\src\data\housing\Strategic_Measure_Number_of_returns_to_homelessness.csv')

In [16]:
df.head()

,Demographic Category,Specific Demographic,Fiscal Year,SO/ES/TH/SH/PH,Numerator,Denominator,Rate,Fiscal Year Start Date,Fiscal Year End Date
0,Race,American Indian or Alaskan Native,2017,SO,0,0,0.0,10/01/2016 12:00:00 AM,09/30/2017 12:00:00 AM
1,Race,Asian,2017,SO,0,0,0.0,10/01/2016 12:00:00 AM,09/30/2017 12:00:00 AM
2,Race,Black or African American,2017,SO,0,0,0.0,10/01/2016 12:00:00 AM,09/30/2017 12:00:00 AM
3,Race,Native Hawaiian or Other Pacific Islander,2017,SO,0,0,0.0,10/01/2016 12:00:00 AM,09/30/2017 12:00:00 AM
4,Race,White,2017,SO,0,0,0.0,10/01/2016 12:00:00 AM,09/30/2017 12:00:00 AM

In [17]:
df.nunique()

Demographic Category        9
Specific Demographic       32
Fiscal Year                 4
SO/ES/TH/SH/PH              5
Numerator                  77
Denominator               158
Rate                       45
Fiscal Year Start Date      4
Fiscal Year End Date        4
dtype: int64

In [18]:
df.to_csv(r'C:\Users\mohit\OneDrive\Desktop\Omdena-AI\omdena-texas-homelessness\src\cleaned data\Return to homelessness.csv')