In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel(r'C:\Users\mohit\OneDrive\Desktop\Omdena-AI\omdena-texas-homelessness\src\data\health\COVID Related\Texas COVID-19 Case Count Data by County.xlsx')

In [3]:
df.head()

,County Name,Cases 03-04-2020,Cases 03-05-2020,Cases 03-06-2020,Cases 03-07-2020,Cases 03-08-2020,Cases 03-09-2020,Cases 03-10-2020,Cases 03-11-2020,Cases 03-12-2020,...,Cases 09-19-2021,Cases 09-20-2021,Cases 09-21-2021,Cases 09-22-2021,Cases 09-23-2021,Cases 09-24-2021,Cases 09-25-2021,Cases 09-26-2021,Cases 09-27-2021,Cases 09-28-2021
0,Anderson,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4919.0,4919.0,4924.0,4931.0,4928.0,4959.0,4958.0,4958.0,4958.0,4954.0
1,Andrews,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2575.0,2575.0,2591.0,2591.0,2637.0,2637.0,2637.0,2637.0,2637.0,2637.0
2,Angelina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6307.0,6307.0,6384.0,6384.0,6384.0,6495.0,6495.0,6495.0,6495.0,6546.0
3,Aransas,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1881.0,1881.0,1889.0,1891.0,1898.0,1900.0,1902.0,1910.0,1910.0,1920.0
4,Archer,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,910.0,910.0,923.0,924.0,925.0,925.0,931.0,931.0,931.0,937.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Columns: 575 entries, County Name to Cases 09-28-2021
dtypes: float64(574), object(1)
memory usage: 1.1+ MB

In [5]:
df.shape

(260, 575)

In [6]:
df.isnull().sum()

County Name         1
Cases 03-04-2020    5
Cases 03-05-2020    5
Cases 03-06-2020    5
Cases 03-07-2020    5
                   ..
Cases 09-24-2021    5
Cases 09-25-2021    5
Cases 09-26-2021    5
Cases 09-27-2021    5
Cases 09-28-2021    5
Length: 575, dtype: int64

In [7]:
# For NULL values we will keep those columns which has around 50% of NAN data

n =int( 0.5 * df.shape[0])

# For Unique values we will keep only those columns which has around 25% of unique values
p = int(0.1 * df.shape[0])

col = df.columns
for i in range(len(col)):
    if df[col[i]].isnull().sum() > n:
        df.drop([col[i]] , axis= 1 , inplace= True)

# After dropping some columns we will make around list of columns
col = df.columns

for i in range(len(col)):
    if df[col[i]].nunique() > p:
        df.drop([col[i]] , axis=1 , inplace=True)

In [8]:
df.shape

(260, 21)

In [9]:
# You can see that out of 575 columns after just removing NULL value columns and high unique valued columns we are left with

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Cases 03-04-2020  255 non-null    float64
 1   Cases 03-05-2020  255 non-null    float64
 2   Cases 03-06-2020  255 non-null    float64
 3   Cases 03-07-2020  255 non-null    float64
 4   Cases 03-08-2020  255 non-null    float64
 5   Cases 03-09-2020  255 non-null    float64
 6   Cases 03-10-2020  255 non-null    float64
 7   Cases 03-11-2020  255 non-null    float64
 8   Cases 03-12-2020  255 non-null    float64
 9   Cases 03-13-2020  255 non-null    float64
 10  Cases 03-14-2020  255 non-null    float64
 11  Cases 03-15-2020  255 non-null    float64
 12  Cases 03-16-2020  255 non-null    float64
 13  Cases 03-17-2020  255 non-null    float64
 14  Cases 03-18-2020  255 non-null    float64
 15  Cases 03-19-2020  255 non-null    float64
 16  Cases 03-20-2020  255 non-null    float64
 17  Cases 03-21-2020  255 non-null    float64
 18  Cases 03-22-2020  255 non-null    float64
 19  Cases 03-23-2020  255 non-null    float64
 20  Cases 03-24-2020  255 non-null    float64
dtypes: float64(21)
memory usage: 42.8 KB

In [11]:
col = df.columns

for i in range(len(col)):
    if df[col[i]].isnull().sum() > 0 :

        df[col[i]] = df[col[i]].fillna(df[col[i]].mean())

In [12]:
df.isnull().sum()

Cases 03-04-2020    0
Cases 03-05-2020    0
Cases 03-06-2020    0
Cases 03-07-2020    0
Cases 03-08-2020    0
Cases 03-09-2020    0
Cases 03-10-2020    0
Cases 03-11-2020    0
Cases 03-12-2020    0
Cases 03-13-2020    0
Cases 03-14-2020    0
Cases 03-15-2020    0
Cases 03-16-2020    0
Cases 03-17-2020    0
Cases 03-18-2020    0
Cases 03-19-2020    0
Cases 03-20-2020    0
Cases 03-21-2020    0
Cases 03-22-2020    0
Cases 03-23-2020    0
Cases 03-24-2020    0
dtype: int64

In [13]:
df.nunique()

Cases 03-04-2020     1
Cases 03-05-2020     1
Cases 03-06-2020     5
Cases 03-07-2020     5
Cases 03-08-2020     5
Cases 03-09-2020     6
Cases 03-10-2020     7
Cases 03-11-2020     8
Cases 03-12-2020     7
Cases 03-13-2020     7
Cases 03-14-2020     7
Cases 03-15-2020    10
Cases 03-16-2020    10
Cases 03-17-2020     9
Cases 03-18-2020    12
Cases 03-19-2020    13
Cases 03-20-2020    16
Cases 03-21-2020    18
Cases 03-22-2020    19
Cases 03-23-2020    19
Cases 03-24-2020    24
dtype: int64

In [14]:
df.to_csv(r'C:\Users\mohit\OneDrive\Desktop\Omdena-AI\omdena-texas-homelessness\src\cleaned data\Texas COVID-19 Case Count Data by County.csv')