In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r"C:\Users\mohit\OneDrive\Desktop\Omdena-AI\omdena-texas-homelessness\src\data\employment\Unequal Financial Impacts of the Pandemic (HPS) by Quarter.xlsx - Sheet1.csv")

In [3]:
df.head()

,Unnamed: 0,Renters,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Homeowners,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,All Households,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,Quarter 4 2020,NaN,"<$25,000","$25,000-$49,999","$50,000-74,999","$75,000-99,999","$100,000+",All,"<$25,000","$25,000-$49,999","$50,000-74,999","$75,000-99,999","$100,000+",All,"<$25,000","$25,000-$49,999","$50,000-74,999","$75,000-99,999","$100,000+",All
1,NaN,Behind on Housing,24.0,19.1,12.8,9.3,6.2,17.0,21.4,14.6,11.0,7.8,4.7,9.3,23.4,17.1,11.7,8.2,4.94,12.44
2,NaN,Loss of Income,55.4,56.7,52.6,47.1,40.3,52.8,44.7,40.6,38.9,38.3,32.8,37.4,51.2,47.6,42.9,40.2,33.79,43.27
3,NaN,NaN,White,Black,Hispanic,Asian,Another Race/Multiracial,All,White,Black,Hispanic,Asian,Another Race/Multiracial,All,White,Black,Hispanic,Asian,Another Race/Multiracial,All
4,NaN,Behind on Housing,11.8,27.9,20.7,17.5,20.9,17.0,6.9,17.1,15.9,12.7,12.9,9.3,8.6,23.6,18.5,14.6,17.01,12.44

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      2 non-null      object
 1   Renters         16 non-null     object
 2   Unnamed: 2      24 non-null     object
 3   Unnamed: 3      24 non-null     object
 4   Unnamed: 4      24 non-null     object
 5   Unnamed: 5      24 non-null     object
 6   Unnamed: 6      24 non-null     object
 7   Unnamed: 7      24 non-null     object
 8   Homeowners      24 non-null     object
 9   Unnamed: 9      24 non-null     object
 10  Unnamed: 10     24 non-null     object
 11  Unnamed: 11     24 non-null     object
 12  Unnamed: 12     24 non-null     object
 13  Unnamed: 13     24 non-null     object
 14  All Households  24 non-null     object
 15  Unnamed: 15     24 non-null     object
 16  Unnamed: 16     24 non-null     object
 17  Unnamed: 17     24 non-null     object
 18  Unnamed: 18     24 non-null     object
 19  Unnamed: 19     24 non-null     object
dtypes: object(20)
memory usage: 3.9+ KB

In [5]:
df.describe()

,Unnamed: 0,Renters,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Homeowners,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,All Households,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
count,2,16,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24
unique,2,2,18,19,19,19,20,4,20,20,18,19,20,5,19,19,19,20,20,5
top,Quarter 4 2020,Behind on Housing,55.4,"$25,000-$49,999","$50,000-74,999","$75,000-99,999","$100,000+",All,"<$25,000","$25,000-$49,999","$50,000-74,999","$75,000-99,999","$100,000+",All,"<$25,000","$25,000-$49,999","$50,000-74,999","$75,000-99,999","$100,000+",All
freq,1,8,3,2,2,2,2,8,2,2,2,2,2,8,2,2,2,2,2,8

In [6]:
df.isnull().sum()

Unnamed: 0        22
Renters            8
Unnamed: 2         0
Unnamed: 3         0
Unnamed: 4         0
Unnamed: 5         0
Unnamed: 6         0
Unnamed: 7         0
Homeowners         0
Unnamed: 9         0
Unnamed: 10        0
Unnamed: 11        0
Unnamed: 12        0
Unnamed: 13        0
All Households     0
Unnamed: 15        0
Unnamed: 16        0
Unnamed: 17        0
Unnamed: 18        0
Unnamed: 19        0
dtype: int64

In [7]:
df.shape

(24, 20)

In [8]:
# AS we can see out of 24 row, 22 rows have NULL value in column first so it's better to delete that column

df.drop(["Unnamed: 0"] , axis=1 , inplace=True)

In [9]:
df.shape

(24, 19)

In [10]:
df.isnull().sum()

Renters           8
Unnamed: 2        0
Unnamed: 3        0
Unnamed: 4        0
Unnamed: 5        0
Unnamed: 6        0
Unnamed: 7        0
Homeowners        0
Unnamed: 9        0
Unnamed: 10       0
Unnamed: 11       0
Unnamed: 12       0
Unnamed: 13       0
All Households    0
Unnamed: 15       0
Unnamed: 16       0
Unnamed: 17       0
Unnamed: 18       0
Unnamed: 19       0
dtype: int64

In [11]:
df['Renters']

0                   NaN
1     Behind on Housing
2        Loss of Income
3                   NaN
4     Behind on Housing
5        Loss of Income
6                   NaN
7     Behind on Housing
8        Loss of Income
9                   NaN
10    Behind on Housing
11       Loss of Income
12                  NaN
13    Behind on Housing
14       Loss of Income
15                  NaN
16    Behind on Housing
17       Loss of Income
18                  NaN
19    Behind on Housing
20       Loss of Income
21                  NaN
22    Behind on Housing
23       Loss of Income
Name: Renters, dtype: object

In [12]:
# I think so that Renter column is important for our analysis process so that's why i am keeping it and filling the NULL value with mode of the whole column and if we will not need it we can delete it during EDA work

df['Renters'] = df['Renters'].fillna(df['Renters'].mode()[0])

In [13]:
df['Renters']

0     Behind on Housing
1     Behind on Housing
2        Loss of Income
3     Behind on Housing
4     Behind on Housing
5        Loss of Income
6     Behind on Housing
7     Behind on Housing
8        Loss of Income
9     Behind on Housing
10    Behind on Housing
11       Loss of Income
12    Behind on Housing
13    Behind on Housing
14       Loss of Income
15    Behind on Housing
16    Behind on Housing
17       Loss of Income
18    Behind on Housing
19    Behind on Housing
20       Loss of Income
21    Behind on Housing
22    Behind on Housing
23       Loss of Income
Name: Renters, dtype: object

In [14]:
df.isnull().sum()

Renters           0
Unnamed: 2        0
Unnamed: 3        0
Unnamed: 4        0
Unnamed: 5        0
Unnamed: 6        0
Unnamed: 7        0
Homeowners        0
Unnamed: 9        0
Unnamed: 10       0
Unnamed: 11       0
Unnamed: 12       0
Unnamed: 13       0
All Households    0
Unnamed: 15       0
Unnamed: 16       0
Unnamed: 17       0
Unnamed: 18       0
Unnamed: 19       0
dtype: int64

In [15]:
df.nunique()

Renters            2
Unnamed: 2        18
Unnamed: 3        19
Unnamed: 4        19
Unnamed: 5        19
Unnamed: 6        20
Unnamed: 7         4
Homeowners        20
Unnamed: 9        20
Unnamed: 10       18
Unnamed: 11       19
Unnamed: 12       20
Unnamed: 13        5
All Households    19
Unnamed: 15       19
Unnamed: 16       19
Unnamed: 17       20
Unnamed: 18       20
Unnamed: 19        5
dtype: int64

In [16]:
n = int(0.2 * df.shape[0])
col = df.columns
for i in range(len(col)):
    if df[col[i]].nunique() > n:
        df.drop([col[i]] , axis=1 , inplace=True)

In [17]:
df.shape

(24, 2)

In [18]:
df.head()

             Renters Unnamed: 7
0  Behind on Housing        All
1  Behind on Housing       17.0
2     Loss of Income       52.8
3  Behind on Housing        All
4  Behind on Housing       17.0

In [20]:
df_1 = pd.read_csv(r"C:\Users\mohit\OneDrive\Desktop\Omdena-AI\omdena-texas-homelessness\src\data\employment\1_Unequal Financial Impacts of the Pandemic (HPS) by Quarter.xlsx - Sheet1.csv")

In [21]:
df_1.head()

   Unnamed: 0            Renters  Unnamed: 7
0           0  Behind on Housing         NaN
1           1  Behind on Housing        17.0
2           2     Loss of Income        52.8
3           3  Behind on Housing         NaN
4           4  Behind on Housing        17.0

In [22]:
df_1.isnull().sum()

Unnamed: 0    0
Renters       0
Unnamed: 7    8
dtype: int64

In [24]:
df_1['Unnamed: 7'] = pd.to_numeric(df['Unnamed: 7'], errors='coerce')

In [26]:
df_1['Unnamed: 7'] = df_1['Unnamed: 7'].fillna(df_1['Unnamed: 7'].mean())

In [28]:
df_1.head()

   Unnamed: 0            Renters  Unnamed: 7
0           0  Behind on Housing      34.925
1           1  Behind on Housing      17.000
2           2     Loss of Income      52.800
3           3  Behind on Housing      34.925
4           4  Behind on Housing      17.000

In [31]:
df_1.to_csv(r"C:\Users\mohit\OneDrive\Desktop\Omdena-AI\omdena-texas-homelessness\src\cleaned data\Unequal Financial Impacts of the pandemic by Quarter.csv")