* DF had 5 rows at the bottom that had no value and seemed like notes. Using dropna, we removed those for the data. We should also drop columns where cases = 0.
* can we use group by to establish the cases by month?
* How has the distribution of cases fallen as we progress through the timeline?
* transformed the df to allow counties to be columns and cases to be rows. We can make the cases the index if we parse into DT. 
* rename column headers
* Data shows us how cases have evolved over time in each county. Pair this with the choropleth visualizations
* Dropped rows where the total value was == 0

In [2]:
%%capture
import pandas as pd

In [3]:
df = pd.read_excel('omdena-texas-homelessness\src\data\health\COVID Related\Texas COVID-19 Case Count Data by County.xlsx', header=2)

In [4]:
df = pd.read_excel('omdena-texas-homelessness\src\data\health\COVID Related\Texas COVID-19 Case Count Data by County.xlsx', header=2)
df.dropna(axis = 0, inplace=True)
df.tail(15)

,County Name,Cases 03-04-2020,Cases 03-05-2020,Cases 03-06-2020,Cases 03-07-2020,Cases 03-08-2020,Cases 03-09-2020,Cases 03-10-2020,Cases 03-11-2020,Cases 03-12-2020,...,Cases 09-19-2021,Cases 09-20-2021,Cases 09-21-2021,Cases 09-22-2021,Cases 09-23-2021,Cases 09-24-2021,Cases 09-25-2021,Cases 09-26-2021,Cases 09-27-2021,Cases 09-28-2021
240,Wharton,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4979.0,4988.0,4992.0,5001.0,5146.0,5153.0,5166.0,5180.0,5201.0,5207.0
241,Wheeler,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,584.0,584.0,585.0,586.0,589.0,592.0,592.0,592.0,592.0,602.0
242,Wichita,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,20213.0,20213.0,20213.0,20213.0,20213.0,20213.0,20728.0,20728.0,20728.0,20728.0
243,Wilbarger,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1773.0,1773.0,1780.0,1781.0,1792.0,1792.0,1798.0,1798.0,1798.0,1805.0
244,Willacy,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3927.0,3927.0,3937.0,3956.0,3963.0,3972.0,3981.0,3988.0,3988.0,4006.0
245,Williamson,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,59126.0,59126.0,59557.0,59768.0,60222.0,60556.0,60712.0,60712.0,60712.0,61214.0
246,Wilson,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4991.0,5060.0,5065.0,5119.0,5125.0,5125.0,5125.0,5125.0,5148.0,5160.0
247,Winkler,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,747.0,748.0,749.0,754.0,755.0,764.0,777.0,777.0,778.0,782.0
248,Wise,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8605.0,8605.0,8681.0,8689.0,8707.0,8707.0,8780.0,8780.0,8780.0,8831.0
249,Wood,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3141.0,3141.0,3141.0,3210.0,3210.0,3283.0,3283.0,3283.0,3283.0,3325.0
250,Yoakum,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1099.0,1099.0,1118.0,1118.0,1127.0,1127.0,1127.0,1127.0,1127.0,1131.0
251,Young,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2298.0,2298.0,2311.0,2313.0,2320.0,2320.0,2328.0,2328.0,2328.0,2332.0
252,Zapata,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1659.0,1659.0,1659.0,1664.0,1664.0,1664.0,1665.0,1665.0,1665.0,1665.0
253,Zavala,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2045.0,2071.0,2076.0,2089.0,2089.0,2089.0,2089.0,2089.0,2097.0,2098.0
254,Total,0.0,0.0,5.0,5.0,5.0,12.0,15.0,18.0,22.0,...,3279440.0,3283786.0,3294624.0,3309458.0,3318001.0,3327873.0,3337783.0,3342535.0,3347504.0,3359034.0

In [5]:
df.sort_values(ascending=True, by= 'Cases 03-06-2020')

,County Name,Cases 03-04-2020,Cases 03-05-2020,Cases 03-06-2020,Cases 03-07-2020,Cases 03-08-2020,Cases 03-09-2020,Cases 03-10-2020,Cases 03-11-2020,Cases 03-12-2020,...,Cases 09-19-2021,Cases 09-20-2021,Cases 09-21-2021,Cases 09-22-2021,Cases 09-23-2021,Cases 09-24-2021,Cases 09-25-2021,Cases 09-26-2021,Cases 09-27-2021,Cases 09-28-2021
0,Anderson,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4919.0,4919.0,4924.0,4931.0,4928.0,4959.0,4958.0,4958.0,4958.0,4954.0
161,Maverick,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,12082.0,12142.0,12144.0,12192.0,12202.0,12202.0,12202.0,12202.0,12217.0,12223.0
162,Medina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4513.0,4561.0,4566.0,4597.0,4602.0,4602.0,4602.0,4602.0,4621.0,4629.0
163,Menard,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,174.0,174.0,175.0,175.0,175.0,175.0,175.0,175.0,175.0,175.0
164,Midland,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,23512.0,23512.0,23512.0,24044.0,24044.0,24044.0,24044.0,24044.0,24044.0,24044.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,Grimes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4406.0,4406.0,4439.0,4444.0,4463.0,4463.0,4481.0,4481.0,4496.0,4494.0
80,Freestone,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1526.0,1526.0,1535.0,1538.0,1541.0,1541.0,1547.0,1547.0,1560.0,1559.0
78,Fort Bend,0.0,0.0,1.0,1.0,1.0,6.0,6.0,6.0,6.0,...,78547.0,78547.0,78547.0,79511.0,79715.0,80052.0,80052.0,80052.0,80052.0,80284.0
100,Harris,0.0,0.0,4.0,4.0,4.0,5.0,5.0,5.0,7.0,...,538840.0,539494.0,540055.0,542092.0,542820.0,544029.0,547947.0,548746.0,550189.0,550674.0
254,Total,0.0,0.0,5.0,5.0,5.0,12.0,15.0,18.0,22.0,...,3279440.0,3283786.0,3294624.0,3309458.0,3318001.0,3327873.0,3337783.0,3342535.0,3347504.0,3359034.0

In [6]:
df.isnull().value_counts().sum() == len(df)

True

In [7]:
df = pd.read_excel('omdena-texas-homelessness\src\data\health\COVID Related\Texas COVID-19 Case Count Data by County.xlsx', header=2)
df.dropna(axis = 0, inplace=True)
df1 = df.T
header_row = 0
df1.columns = df1.iloc[header_row]
df1 = df1.iloc[1:,:]

df1.index= df1.index.str.replace("Cases", "")
df1.index = pd.to_datetime(df1.index)
df1.groupby(by = [df1.index.month, df1.index.year])
df1 =df1[df1.Total != 0]
df1.columns = df1.columns.str.lower()

print(df1.columns, df1.index, df1.shape)
display(df1.head())

Index(['anderson', 'andrews', 'angelina', 'aransas', 'archer', 'armstrong',
       'atascosa', 'austin', 'bailey', 'bandera',
       ...
       'williamson', 'wilson', 'winkler', 'wise', 'wood', 'yoakum', 'young',
       'zapata', 'zavala', 'total'],
      dtype='object', name='County Name', length=255) DatetimeIndex(['2020-03-06', '2020-03-07', '2020-03-08', '2020-03-09',
               '2020-03-10', '2020-03-11', '2020-03-12', '2020-03-13',
               '2020-03-14', '2020-03-15',
               ...
               '2021-09-19', '2021-09-20', '2021-09-21', '2021-09-22',
               '2021-09-23', '2021-09-24', '2021-09-25', '2021-09-26',
               '2021-09-27', '2021-09-28'],
              dtype='datetime64[ns]', length=572, freq=None) (572, 255)

County Name,anderson,andrews,angelina,aransas,archer,armstrong,atascosa,austin,bailey,bandera,...,williamson,wilson,winkler,wise,wood,yoakum,young,zapata,zavala,total
2020-03-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
2020-03-07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
2020-03-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
2020-03-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0
2020-03-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0

We have data for totals by county each day. This dataset will be good for visualization and should be paired with Mohit's team and their visualizations on income of Texas

Visualizations can be made to show county and total data.
Animated visualization of time lapse over total in each county 


What insights can be gleaned from the data and how can it help me in the modeling steps? What is the target here?

Using this data, can we understand the trend in total cases per county.

We can build an a predictor out of this that can predict the total cases for the next day. We can build this into a neural network that can intake the actual data from the day, compare to our prediction, and supervise it's training to better develop to the unseen data.

No other real manipulation of the data can be performed. This dataset is ready for use, as-is.

In [8]:
df1.to_csv('COVID_data_Texas_by_county.csv')