

3 datasets are merged into 1:
1. PIT homelessness dataset for Texas CoCs
2. Census projection for 2020 based on Counties
3. CPI abuse data for 2020 per county

In [7]:
import pandas as pd

In [9]:
#Counties part of Texas Balance of States
Bos= "Anderson, Culberson, Hidalgo, Mason, Scurry, Andrews, Dallam, Hockley, Matagorda, Shackelford, Angelina, Dawson, Hood, Maverick, Shelby, Aransas, De Witt, Hopkins, McCulloch, Sherman, Armstrong, Deaf Smith, Houston, McMullen, Smith, Atascosa, Delta, Howard, Medina, Somervell, Austin, Denton, Hudspeth, Menard, Starr, Bailey, Dickens, Hunt, Midland, Sterling, Bandera, Dimmit, Hutchinson, Mills, Stonewall, Bastrop, Donley, Irion, Mitchell, Sutton, Bee, Duval, Jackson, Moore, Swisher, Bell, Eastland, Jasper, Morris, Taylor, Blanco, Ector, Jeff Davis, Motley, Terrell, Borden, Edwards, Jefferson, Nacogdoches, Terry, Bowie, Ellis, Jim Hogg, Navarro, Titus, Brazoria, Erath, Jim Wells, Newton, Tom Green, Brewster, Fannin, Johnson, Nolan, Trinity, Briscoe, Fayette, Jones, Nueces, Tyler, Brooks, Fisher, Karnes, Ochiltree, Upshur, Brown, Floyd, Kaufman, Oldham, Upton, Burnet, Franklin, Kendall, Orange, Uvalde, Caldwell, Frio, Kenedy, Panola, Val Verde, Calhoun, Gaines, Kent, Parmer, Van Zandt, Callahan, Galveston, Kerr, Pecos, Victoria, Cameron, Garza, Kimble, Polk, Walker, Camp, Gillespie, King, Potter, Waller, Carson, Glasscock, Kinney, Presidio, Ward, Cass, Goliad, Kleberg, Rains, Washington, Castro, Gonzales, Knox, Randall, Webb, Chambers, Gray, La Salle, Reagan, Wharton, Cherokee, Grayson, Lamar, Real, Wheeler, Cochran, Gregg, Lamb, Red River, Willacy, Coke, Guadalupe, Lampasas, Reeves, Williamson, Coleman, Hale, Lavaca, Refugio, Wilson, Collingsworth, Hall, Lee, Roberts, Winkler, Colorado, Hamilton, Liberty, Rockwall, Wood, Comal, Hansford, Lipscomb, Runnels, Yoakum, Comanche, Hardin, Live Oak, Rusk, Zapata, Concho, Harrison, Llano, Sabine, Zavala, Cooke, Hartley, Loving, San Augustine, Coryell, Haskell, Lubbock, San Jacinto, Crane, Hays, Lynn, San Patricio, Crockett, Hemphill, Marion, San Saba, Crosby, Henderson, Martin, Schleicher"
Bos= Bos.split(',')
Bos= [c.strip() for c in Bos]
#Duplicate Counties present in other CoCs
rem= ['Washington', 'Potter', 'Randall']
for i in rem:
  Bos.remove(i)


am= ['Potter', 'Randall'] #amarillo Coc
tra= ['Travis'] #Travis CoC
br= ['Leon', 'Brazos', 'Grimes', 'Washington', 'Burleson', 'Madison', 'Robertson', 'Milam'] #Bryan/college COC
da= ['Collin', 'Dallas'] #Dallas CoC
el= ['El Paso'] #El Paso CoC
ta= ['Parker', 'Tarrant'] #Tarrant CoC
ha= ['Harris', 'Fort Bend', 'Montgomery'] #Harris CoC
bex= ['Bexar'] #Bexar CoC
mc= ['McLennan', 'Limestone', 'Bosque', 'Hill', 'Falls', 'Freestone'] #Mclennan Coc
#Wichita Falls COc
wi= ['Childress', 'Foard', 'Baylor', 'Clay', 'Montague', 'Hardeman', 'Wilbarger', 'Wise', 'Cottle', 'Throckmorton', 'Young', 'Jack', 'Archer', 'Stephens', 'Palo Pinto', 'Wichita']

state= ['Armstrong', 'Bailey', 'Briscoe', 'Carson', 'Castro', 'Childress', 'Cochran', 'Collingsworth', 'Crosby', 'Dallam', 'Deaf Smith', 'Dickens', 'Donley', 'Floyd', 'Garza', 'Gray', 'Hale', 'Hall', 'Hansford', 'Hartley', 'Hemphill', 'Hockley', 'Hutchinson', 'King', 'Lamb', 'Lipscomb', 'Lubbock', 'Lynn', 'Moore', 'Motley', 'Ochiltree', 'Oldham', 'Parmer', 'Potter', 'Randall', 'Sherman', 'Swisher', 'Terry', 'Wheeler', 'Yoakum', 'Archer', 'Baylor', 'Brown', 'Callahan', 'Clay', 'Coleman', 'Comanche', 'Cottle', 'Eastland', 'Fisher', 'Foard', 'Hardeman', 'Haskell', 'Jack', 'Jones', 'Kent', 'Knox', 'Mitchell', 'Montague', 'Nolan', 'Runnels', 'Scurry', 'Shackelford', 'Stephens', 'Stonewall', 'Taylor', 'Throckmorton', 'Wichita', 'Wilbarger', 'Young', 'Collin', 'Cooke', 'Dallas', 'Denton', 'Ellis', 'Erath', 'Fannin', 'Grayson', 'Hood', 'Hunt', 'Johnson', 'Kaufman', 'Navarro', 'Palo Pinto', 'Parker', 'Rockwall', 'Somervell', 'Tarrant', 'Wise', 'Anderson', 'Bowie', 'Camp', 'Cass', 'Cherokee', 'Delta', 'Franklin', 'Gregg', 'Harrison', 'Henderson', 'Hopkins', 'Lamar', 'Marion', 'Morris', 'Panola', 'Rains', 'Red River', 'Rusk', 'Smith', 'Titus', 'Upshur', 'Van Zandt', 'Wood', 'Angelina', 'Hardin', 'Houston', 'Jasper', 'Jefferson', 'Nacogdoches', 'Newton', 'Orange', 'Polk', 'Sabine', 'San Augustine', 'San Jacinto', 'Shelby', 'Trinity', 'Tyler', 'Austin', 'Brazoria', 'Chambers', 'Colorado', 'Fort Bend', 'Galveston', 'Harris', 'Liberty', 'Matagorda', 'Montgomery', 'Walker', 'Waller', 'Wharton', 'Bastrop', 'Bell', 'Blanco', 'Bosque', 'Brazos', 'Burleson', 'Burnet', 'Caldwell', 'Coryell', 'Falls', 'Fayette', 'Freestone', 'Grimes', 'Hamilton', 'Hays', 'Hill', 'Lampasas', 'Lee', 'Leon', 'Limestone', 'Llano', 'Madison', 'McLennan', 'Milam', 'Mills', 'Robertson', 'San Saba', 'Travis', 'Washington', 'Williamson', 'Atascosa', 'Bandera', 'Bexar', 'Calhoun', 'Comal', 'DeWitt', 'Dimmit', 'Edwards', 'Frio', 'Gillespie', 'Goliad', 'Gonzales', 'Guadalupe', 'Jackson', 'Karnes', 'Kendall', 'Kerr', 'Kinney', 'La Salle', 'Lavaca', 'Maverick', 'Medina', 'Real', 'Uvalde', 'Val Verde', 'Victoria', 'Wilson', 'Zavala', 'Andrews', 'Borden', 'Coke', 'Concho', 'Crane', 'Crockett', 'Dawson', 'Ector', 'Gaines', 'Glasscock', 'Howard', 'Irion', 'Kimble', 'Loving', 'Martin', 'Mason', 'McCulloch', 'Menard', 'Midland', 'Pecos', 'Reagan', 'Reeves', 'Schleicher', 'Sterling', 'Sutton', 'Terrell', 'Tom Green', 'Upton', 'Ward', 'Winkler', 'Brewster', 'Culberson', 'El Paso', 'Hudspeth', 'Jeff Davis', 'Presidio', 'Aransas', 'Bee', 'Brooks', 'Cameron', 'Duval', 'Hidalgo', 'Jim Hogg', 'Jim Wells', 'Kenedy', 'Kleberg', 'Live Oak', 'McMullen', 'Nueces', 'Refugio', 'San Patricio', 'Starr', 'Webb', 'Willacy', 'Zapata']

In [10]:
def merge(df4, df2, df3, year):
  for c,i in enumerate(df4.area_name):
    if any(i in s for s in Bos):
      df4.loc[c,'nh_white_male':'nh_other_female']=df4.loc[c,'nh_white_male':'nh_other_female']/df3.loc['Texas Balance of State CoC', f'Overall Homeless - Under 18, {year}']
    elif any(i in s for s in wi):
      df4.loc[c,'nh_white_male':'nh_other_female']=df4.loc[c,'nh_white_male':'nh_other_female']/df3.loc['Wichita Falls/Wise, Palo Pinto, Wichita, Archer Counties CoC', f'Overall Homeless - Under 18, {year}']
    elif any(i in s for s in am):
      df4.loc[c,'nh_white_male':'nh_other_female']=df4.loc[c,'nh_white_male':'nh_other_female']/df3.loc['Amarillo CoC', f'Overall Homeless - Under 18, {year}']
    elif any(i in s for s in br):
      df4.loc[c,'nh_white_male':'nh_other_female']=df4.loc[c,'nh_white_male':'nh_other_female']/df3.loc['Bryan, College Station/Brazos Valley CoC', f'Overall Homeless - Under 18, {year}']
    elif any(i in s for s in da):
      df4.loc[c,'nh_white_male':'nh_other_female']=df4.loc[c,'nh_white_male':'nh_other_female']/df3.loc['Dallas City & County, Irving CoC', f'Overall Homeless - Under 18, {year}']
    elif any(i in s for s in el):
      df4.loc[c,'nh_white_male':'nh_other_female']=df4.loc[c,'nh_white_male':'nh_other_female']/df3.loc['El Paso City & County CoC', f'Overall Homeless - Under 18, {year}']
    elif any(i in s for s in ta):
      df4.loc[c,'nh_white_male':'nh_other_female']=df4.loc[c,'nh_white_male':'nh_other_female']/df3.loc['Fort Worth, Arlington/Tarrant County CoC', f'Overall Homeless - Under 18, {year}']
    elif any(i in s for s in ha):
      df4.loc[c,'nh_white_male':'nh_other_female']=df4.loc[c,'nh_white_male':'nh_other_female']/df3.loc['Houston, Pasadena, Conroe/Harris, Ft. Bend, Montgomery, Counties CoC', f'Overall Homeless - Under 18, {year}']
    elif any(i in s for s in bex):
      df4.loc[c,'nh_white_male':'nh_other_female']=df4.loc[c,'nh_white_male':'nh_other_female']/df3.loc['San Antonio/Bexar County CoC', f'Overall Homeless - Under 18, {year}']
    elif any(i in s for s in mc):
      df4.loc[c,'nh_white_male':'nh_other_female']=df4.loc[c,'nh_white_male':'nh_other_female']/df3.loc['Waco/McLennan County CoC', f'Overall Homeless - Under 18, {year}']
    elif any(i in s for s in tra):
      df4.loc[c,'nh_white_male':'nh_other_female']=df4.loc[c,'nh_white_male':'nh_other_female']/df3.loc['Austin/Travis County CoC', f'Overall Homeless - Under 18, {year}']
  
  df4.drop(labels= ['age_group'], axis=1, inplace=True)
  df5= pd.merge(df2, df4, on='area_name')
  df5.drop(labels=['year'], inplace= True, axis=1)

  return df5

In [11]:
def create_ds(year):
  #Census data
  df1= pd.read_csv('data1.csv')
  df1= df1[(df1.iloc[:]['year']==year)]
  df1.drop(labels= ['FIPS', 'total', 'total_male', 'total_female', 'nh_white_total', 
                  'nh_black_total', 'hispanic_total', 'nh_asian_total', 'nh_other_total'], axis=1, inplace=True)
  df1=df1[(~df1.iloc[:]['area_name'].str.contains('State of Texas'))]
  df1.reset_index(drop= True, inplace= True)
  df1=df1[(df1.iloc[:]['age_group'].str.contains('<18'))]
  df1.reset_index(drop= True, inplace= True)
  df1['area_name'] = df1['area_name'].str.replace(' County','')
  print(df1.info())

  #abuse dataset
  df2= pd.read_csv('data2.csv')
  df2.drop(labels= ['Region'], axis=1, inplace=True)
  df2= df2[(df2.iloc[:]['Fiscal Year']==year)]
  df2 = df2[df2.County != 'Out of State']
  df2.reset_index(drop= True, inplace= True)
  
  #combine confirmed and non confirmed victims (for loop)
  for i, c in enumerate(df2.County):
    try:
      if df2.iloc[i]['County']==df2.iloc[i+1]['County']:
        df2.at[i, 'count']= int(df2.iloc[i+1]['Victims'].replace(',','')) + int(df2.iloc[i]['Victims'].replace(',',''))
      elif df2.iloc[i]['County']!=df2.iloc[i-1]['County']:
        df2.at[i, 'count']= int(df2.iloc[i]['Victims'])
    except:
      continue
  #end of for loop
  print(df2.head(5))
  df2.dropna(axis=0, how='any', inplace= True)
  df2.reset_index(drop= True, inplace= True)
  
  df2.drop(labels= ['Confirmed Victims', 'Victims'], axis=1, inplace=True)
  df2.rename( inplace=True, columns={"County": "area_name"})
  


  #HUD dataset
  df3= pd.read_excel('data3.xlsx', sheet_name=f'{year}', header = 0, usecols = ['CoC Number', 'CoC Name', f'Overall Homeless - Under 18, {year}'])
  n=df3[df3['CoC Number'].str.contains("TX", na=False)].index
  df3= (df3.iloc[n])
  df3.set_index('CoC Name', inplace= True)
  print(df3.info())

  df4= df1.copy()

  df5= merge(df4, df2, df3, year)

  return df5

In [ ]:
print("2020")
df_1= create_ds(2020)
print("2019")
df_2= create_ds(2019)
print("2018")
df_3= create_ds(2018)
print("2017")
df_4= create_ds(2017)

In [15]:
df_4.head(5)

   Fiscal Year  area_name  ...  nh_other_male  nh_other_female
0         2017  Armstrong  ...       0.004594         0.006891
1         2017     Bailey  ...       0.008423         0.009188
2         2017    Briscoe  ...       0.003828         0.004594
3         2017     Carson  ...       0.017611         0.015314
4         2017     Castro  ...       0.010720         0.012251

[5 rows x 13 columns]

In [21]:
frames= [df_1, df_2, df_3, df_4]
df = pd.concat(frames)
df.reset_index(drop= True, inplace= True)
df.head()

   Fiscal Year  area_name  ...  nh_other_male  nh_other_female
0         2020  Armstrong  ...       0.005439         0.007770
1         2020     Bailey  ...       0.010101         0.011655
2         2020    Briscoe  ...       0.003885         0.004662
3         2020     Carson  ...       0.014763         0.015540
4         2020     Castro  ...       0.011655         0.013986

[5 rows x 13 columns]

In [23]:
for c,i in enumerate(df.area_name):
    if any(i in s for s in Bos):
      df.at[c, 'coc']= 'Texas Balance of State CoC'
    elif any(i in s for s in wi):
      df.at[c, 'coc']= 'Wichita Falls/Wise, Palo Pinto, Wichita, Archer Counties CoC'
    elif any(i in s for s in am):
      df.at[c, 'coc']= 'Amarillo CoC'
    elif any(i in s for s in br):
      df.at[c, 'coc']= 'Bryan, College Station/Brazos Valley CoC'
    elif any(i in s for s in da):
      df.at[c, 'coc']= 'Dallas City & County, Irving CoC'
    elif any(i in s for s in el):
      df.at[c, 'coc']= 'El Paso City & County CoC'
    elif any(i in s for s in ta):
      df.at[c, 'coc']= 'Fort Worth, Arlington/Tarrant County CoC'
    elif any(i in s for s in ha):
      df.at[c, 'coc']= 'Houston, Pasadena, Conroe/Harris, Ft. Bend, Montgomery, Counties CoC'
    elif any(i in s for s in bex):
      df.at[c, 'coc']= 'San Antonio/Bexar County CoC'
    elif any(i in s for s in mc):
      df.at[c, 'coc']= 'Waco/McLennan County CoC'
    elif any(i in s for s in tra):
      df.at[c, 'coc']= 'Austin/Travis County CoC'

In [ ]:
print(df.to_string())

In [34]:
from sklearn.model_selection import train_test_split

train_df, test_df = train_test_split(df, test_size=0.2)

In [35]:
train_df.reset_index(drop= True, inplace= True)
test_df.reset_index(drop= True, inplace= True)
train_df.info(), test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 804 entries, 0 to 803
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Fiscal Year      804 non-null    int64
 1   area_name        804 non-null    object
 2   count            804 non-null    float64
 3   nh_white_male    804 non-null    float64
 4   nh_white_female  804 non-null    float64
 5   nh_black_male    804 non-null    float64
 6   nh_black_female  804 non-null    float64
 7   hispanic_male    804 non-null    float64
 8   hispanic_female  804 non-null    float64
 9   nh_asian_male    804 non-null    float64
 10  nh_asian_female  804 non-null    float64
 11  nh_other_male    804 non-null    float64
 12  nh_other_female  804 non-null    float64
 13  coc              804 non-null    object
dtypes: float64(11), int64(1), object(2)
memory usage: 88.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Fiscal Year      202 non-null    int64
 1   area_name        202 non-null    object
 2   count            202 non-null    float64
 3   nh_white_male    202 non-null    float64
 4   nh_white_female  202 non-null    float64
 5   nh_black_male    202 non-null    float64
 6   nh_black_female  202 non-null    float64
 7   hispanic_male    202 non-null    float64
 8   hispanic_female  202 non-null    float64
 9   nh_asian_male    202 non-null    float64
 10  nh_asian_female  202 non-null    float64
 11  nh_other_male    202 non-null    float64
 12  nh_other_female  202 non-null    float64
 13  coc              202 non-null    object
dtypes: float64(11), int64(1), object(2)
memory usage: 22.2+ KB

(None, None)

Next Stages:
1. Calculating the rate (Numerator as homeless pop in that County and denominator as census projection for that County for a particular year) which will lead to unique values for each county as with values as homeless population per demographic
2. Based on the County, merging the datasets to get a dataset with homeless pop per demograph and abuse victims
3. Calculating correlation between features and target variable (lieklihood of abuse depending on some characteristics)
4. Building a predictive model which can give a likelihood of vulnerable populations in that County for Social Services to focus on

In [36]:
def bin(dataframe, cols):
	# Create new columns that store the binned data
    for col in cols:
        new_col_name = "{}_bins".format(col)
        dataframe[new_col_name] = pd.qcut(dataframe[col], 5, labels=[1,2,3,4,5])

bin(train_df, ['count'])
bin(test_df, ['count'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [37]:
train_df.drop(labels=['count', 'area_name', 'Fiscal Year'], inplace= True, axis=1)
test_df.drop(labels=['count', 'area_name', 'Fiscal Year'], inplace= True, axis=1)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [39]:

train_df['count']=train_df.count_bins.astype("category").cat.codes
train_df.drop(labels=['count_bins'], inplace= True, axis=1)

test_df['count']=test_df.count_bins.astype("category").cat.codes
test_df.drop(labels=['count_bins'], inplace= True, axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [43]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   nh_white_male    202 non-null    float64
 1   nh_white_female  202 non-null    float64
 2   nh_black_male    202 non-null    float64
 3   nh_black_female  202 non-null    float64
 4   hispanic_male    202 non-null    float64
 5   hispanic_female  202 non-null    float64
 6   nh_asian_male    202 non-null    float64
 7   nh_asian_female  202 non-null    float64
 8   nh_other_male    202 non-null    float64
 9   nh_other_female  202 non-null    float64
 10  coc              202 non-null    object
 11  count            202 non-null    int8
dtypes: float64(10), int8(1), object(1)
memory usage: 17.7+ KB

In [44]:
# Source: https://maxhalford.github.io/blog/target-encoding-done-the-right-way/
def calc_smooth_mean(df, df1, df2, cat_name, target, weight):
    # Compute the global mean
    mean = df[target].mean()

    # Compute the number of values and the mean of each group
    agg = df.groupby(cat_name)[target].agg(['count', 'mean'])
    counts = agg['count']
    means = agg['mean']

    # Compute the "smoothed" means
    smooth = (counts * means + weight * mean) / (counts + weight)

    # Replace each value by the according smoothed mean
    if df2 is None:
        return df1[cat_name].map(smooth)
    else:
        return df1[cat_name].map(smooth),df2[cat_name].map(smooth.to_dict())

In [45]:
WEIGHT = 0
train_df['coc_enc'] = calc_smooth_mean(df=train_df, df1=train_df, df2=None, cat_name='coc', target='count', weight=WEIGHT)
test_df['coc_enc'] = calc_smooth_mean(df=test_df, df1=test_df, df2=None, cat_name='coc', target='count', weight=WEIGHT)
#df['cat_1_enc'] = calc_smooth_mean(df1=df, df2=None, cat_name='cat_1', target='y', weight=WEIGHT)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [46]:
train_df.drop(labels=['coc'], inplace= True, axis=1)
test_df.drop(labels=['coc'], inplace= True, axis=1)
train_df.reset_index(drop= True, inplace= True)
test_df.reset_index(drop= True, inplace= True)
train_df.info(), test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 804 entries, 0 to 803
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   nh_white_male    804 non-null    float64
 1   nh_white_female  804 non-null    float64
 2   nh_black_male    804 non-null    float64
 3   nh_black_female  804 non-null    float64
 4   hispanic_male    804 non-null    float64
 5   hispanic_female  804 non-null    float64
 6   nh_asian_male    804 non-null    float64
 7   nh_asian_female  804 non-null    float64
 8   nh_other_male    804 non-null    float64
 9   nh_other_female  804 non-null    float64
 10  count            804 non-null    int8
 11  coc_enc          804 non-null    float64
dtypes: float64(11), int8(1)
memory usage: 70.0 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   nh_white_male    202 non-null    float64
 1   nh_white_female  202 non-null    float64
 2   nh_black_male    202 non-null    float64
 3   nh_black_female  202 non-null    float64
 4   hispanic_male    202 non-null    float64
 5   hispanic_female  202 non-null    float64
 6   nh_asian_male    202 non-null    float64
 7   nh_asian_female  202 non-null    float64
 8   nh_other_male    202 non-null    float64
 9   nh_other_female  202 non-null    float64
 10  count            202 non-null    int8
 11  coc_enc          202 non-null    float64
dtypes: float64(11), int8(1)
memory usage: 17.7 KB

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

(None, None)

In [50]:
y_train= train_df['count'].to_numpy()
train_df.drop(labels=['count'], inplace= True, axis=1)
X_train= train_df.to_numpy()

y_test= test_df['count'].to_numpy()
test_df.drop(labels=['count'], inplace= True, axis=1)
X_test= test_df.to_numpy()

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [57]:
from sklearn.preprocessing import Normalizer
transformer = Normalizer().fit(X_train)
X_train_norm= transformer.transform(X_train)
X_test_norm= transformer.transform(X_test)

Random Forest: 82%

In [64]:
from sklearn.ensemble import RandomForestClassifier
rf_classifier = RandomForestClassifier()
rf_classifier.fit(X_train_norm, y_train)
rf_predictions = rf_classifier.predict(X_test_norm)

In [65]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, rf_predictions)

0.8168316831683168

SVM: 68%

In [69]:
from sklearn import svm
clf = svm.SVC(decision_function_shape='ovo')
clf.fit(X_train_norm, y_train)
svm_predictions= clf.predict(X_test_norm)
accuracy_score(y_test, svm_predictions)

0.6831683168316832