In [1]:
import pandas as pd
import numpy as nnp

In [2]:
df = pd.read_csv(r'C:\Users\mohit\OneDrive\Desktop\Omdena-AI\omdena-texas-homelessness\src\data\housing\Strategic_Measure_Number_and_percentage_of_persons_who_successfully_exit_from_homelessness.csv')

In [3]:
df.head()

,Demographic Category,Specific Demographic,Fiscal Year,Measure,Numerator,Denominator,Rate (%),Fiscal Year Start Date,Fiscal Year End Date
0,Race,American Indian or Alaskan Native,2016,7b1,3,65,0.0462,10/01/2015 12:00:00 AM,09/30/2016 12:00:00 AM
1,Race,Asian,2016,7b1,8,31,0.2581,10/01/2015 12:00:00 AM,09/30/2016 12:00:00 AM
2,Race,Black or African American,2016,7b1,502,1689,0.2972,10/01/2015 12:00:00 AM,09/30/2016 12:00:00 AM
3,Race,Native Hawaiian or Other Pacific Islander,2016,7b1,7,14,0.5000,10/01/2015 12:00:00 AM,09/30/2016 12:00:00 AM
4,Race,White,2016,7b1,510,2082,0.2450,10/01/2015 12:00:00 AM,09/30/2016 12:00:00 AM

In [4]:
df.shape

(261, 9)

In [5]:
df.isnull().sum()

Demographic Category      0
Specific Demographic      0
Fiscal Year               0
Measure                   0
Numerator                 0
Denominator               0
Rate (%)                  0
Fiscal Year Start Date    0
Fiscal Year End Date      0
dtype: int64

In [6]:
df.nunique()

Demographic Category        9
Specific Demographic       33
Fiscal Year                 5
Measure                     2
Numerator                 160
Denominator               187
Rate (%)                  190
Fiscal Year Start Date      5
Fiscal Year End Date        5
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Demographic Category    261 non-null    object
 1   Specific Demographic    261 non-null    object
 2   Fiscal Year             261 non-null    int64
 3   Measure                 261 non-null    object
 4   Numerator               261 non-null    int64
 5   Denominator             261 non-null    int64
 6   Rate (%)                261 non-null    float64
 7   Fiscal Year Start Date  261 non-null    object
 8   Fiscal Year End Date    261 non-null    object
dtypes: float64(1), int64(3), object(5)
memory usage: 18.5+ KB

In [8]:
# For NULL values we will keep those columns which has around 50% of NAN data

n =int( 0.5 * df.shape[0])

# For Unique values we will keep only those columns which has around 25% of unique values
p = int(0.1 * df.shape[0])

col = df.columns
for i in range(len(col)):
    if df[col[i]].isnull().sum() > n:
        df.drop([col[i]] , axis= 1 , inplace= True)

# After dropping some columns we will make around list of columns
col = df.select_dtypes('object').columns

for i in range(len(col)):
    if df[col[i]].nunique() > p:
        df.drop([col[i]] , axis=1 , inplace=True)

In [9]:
df.shape

(261, 8)

In [10]:
df.head()

,Demographic Category,Fiscal Year,Measure,Numerator,Denominator,Rate (%),Fiscal Year Start Date,Fiscal Year End Date
0,Race,2016,7b1,3,65,0.0462,10/01/2015 12:00:00 AM,09/30/2016 12:00:00 AM
1,Race,2016,7b1,8,31,0.2581,10/01/2015 12:00:00 AM,09/30/2016 12:00:00 AM
2,Race,2016,7b1,502,1689,0.2972,10/01/2015 12:00:00 AM,09/30/2016 12:00:00 AM
3,Race,2016,7b1,7,14,0.5000,10/01/2015 12:00:00 AM,09/30/2016 12:00:00 AM
4,Race,2016,7b1,510,2082,0.2450,10/01/2015 12:00:00 AM,09/30/2016 12:00:00 AM

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Demographic Category    261 non-null    object
 1   Fiscal Year             261 non-null    int64
 2   Measure                 261 non-null    object
 3   Numerator               261 non-null    int64
 4   Denominator             261 non-null    int64
 5   Rate (%)                261 non-null    float64
 6   Fiscal Year Start Date  261 non-null    object
 7   Fiscal Year End Date    261 non-null    object
dtypes: float64(1), int64(3), object(4)
memory usage: 16.4+ KB

In [12]:
df.nunique()

Demographic Category        9
Fiscal Year                 5
Measure                     2
Numerator                 160
Denominator               187
Rate (%)                  190
Fiscal Year Start Date      5
Fiscal Year End Date        5
dtype: int64

In [13]:
# We can do one hot coding also in all these object datatype to convert them into numeric one

categorical_cols =df.select_dtypes('object').columns

from sklearn.preprocessing import LabelEncoder

# instantiate labelencoder object
le = LabelEncoder()

# apply le on categorical feature columns
for i in range(len(categorical_cols)):
    df[categorical_cols] = df[categorical_cols].apply(lambda col: le.fit_transform(col))
    
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()

#One-hot-encode the categorical columns.
#Unfortunately outputs an array instead of dataframe.
array_hot_encoded = ohe.fit_transform(df[categorical_cols])

#Convert it to df
data_hot_encoded = pd.DataFrame(array_hot_encoded, index=df.index)

#Extract only the columns that didnt need to be encoded
data_other_cols = df.drop(columns=categorical_cols)

#Concatenate the two dataframes : 
data_out = pd.concat([data_hot_encoded, data_other_cols], axis=1)

In [14]:
len(categorical_cols)

4

In [15]:
df.head()

,Demographic Category,Fiscal Year,Measure,Numerator,Denominator,Rate (%),Fiscal Year Start Date,Fiscal Year End Date
0,6,2016,0,3,65,0.0462,0,0
1,6,2016,0,8,31,0.2581,0,0
2,6,2016,0,502,1689,0.2972,0,0
3,6,2016,0,7,14,0.5000,0,0
4,6,2016,0,510,2082,0.2450,0,0

In [16]:
df.to_csv(r'C:\Users\mohit\OneDrive\Desktop\Omdena-AI\omdena-texas-homelessness\src\cleaned data\Who Successfully exited from homelessness.csv')