In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_excel(r'C:\Users\mohit\OneDrive\Desktop\Omdena-AI\omdena-texas-homelessness\src\data\income_related\Tx_IncomePovertyStats.xlsx')

In [4]:
df.head()

,County,Per Capita Income,Total Personal Income,Median Household Income,Average Annual Pay,% of Population in Poverty,% of Population Under 18 in Poverty
0,Anderson,"$36,027","$2,080,020,000","$48,461","$45,799",19.8,23.8
1,Andrews,"$51,769","$968,334,000","$74,918","$69,845",10.2,12.7
2,Angelina,"$39,644","$3,437,761,000","$51,750","$40,974",15.6,22.6
3,Aransas,"$51,614","$1,213,451,000","$53,085","$39,316",18.7,32.1
4,Archer,"$52,335","$447,617,000","$63,731","$38,006",10.3,12.8

In [5]:
df.isnull().sum()

County                                 0
Per Capita Income                      0
Total Personal Income                  0
Median Household Income                0
Average Annual Pay                     0
% of Population in Poverty             0
% of Population Under 18 in Poverty    0
dtype: int64

In [6]:
df.nunique()

County                                 254
Per Capita Income                      253
Total Personal Income                  254
Median Household Income                254
Average Annual Pay                     254
% of Population in Poverty             131
% of Population Under 18 in Poverty    171
dtype: int64

In [7]:
df.shape

(254, 7)

In [8]:
spec_chars = ["!",'"',"#","%","&","'","(",")",
              "*","+",",","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^","_",
              "`","{","|","}","~","â€“","$"]
col = ['Per Capita Income','Total Personal Income','Median Household Income','Average Annual Pay']

for i in range(len(spec_chars)):
    for j in range(len(col)):
        df[col[j]] = df[col[j]].str.replace(spec_chars[i] , "")

C:\Users\mohit\AppData\Local\Temp/ipykernel_9764/2592155676.py:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col[j]] = df[col[j]].str.replace(spec_chars[i] , "")

In [9]:
df.head()

,County,Per Capita Income,Total Personal Income,Median Household Income,Average Annual Pay,% of Population in Poverty,% of Population Under 18 in Poverty
0,Anderson,36027,2080020000,48461,45799,19.8,23.8
1,Andrews,51769,968334000,74918,69845,10.2,12.7
2,Angelina,39644,3437761000,51750,40974,15.6,22.6
3,Aransas,51614,1213451000,53085,39316,18.7,32.1
4,Archer,52335,447617000,63731,38006,10.3,12.8

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254 entries, 0 to 253
Data columns (total 7 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   County                               254 non-null    object
 1   Per Capita Income                    254 non-null    object
 2   Total Personal Income                254 non-null    object
 3   Median Household Income              254 non-null    object
 4   Average Annual Pay                   254 non-null    object
 5   % of Population in Poverty           254 non-null    float64
 6   % of Population Under 18 in Poverty  254 non-null    float64
dtypes: float64(2), object(5)
memory usage: 14.0+ KB

In [11]:
col = df.columns

for i in range(1,5):
    df[col[i]] = pd.to_numeric(df[col[i]], errors='coerce')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254 entries, 0 to 253
Data columns (total 7 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   County                               254 non-null    object
 1   Per Capita Income                    254 non-null    int64
 2   Total Personal Income                254 non-null    int64
 3   Median Household Income              254 non-null    int64
 4   Average Annual Pay                   254 non-null    int64
 5   % of Population in Poverty           254 non-null    float64
 6   % of Population Under 18 in Poverty  254 non-null    float64
dtypes: float64(2), int64(4), object(1)
memory usage: 14.0+ KB

In [13]:
df.to_csv(r'C:\Users\mohit\OneDrive\Desktop\Omdena-AI\omdena-texas-homelessness\src\cleaned data\IncomePovertyStats_Texas.csv')